###########################################
############ Project Specific ############
###########################################
## folders to ignore


# Default ignored files
/shelf/
/workspace.xml
*.xml
*.iml

#Pycharm specific
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django stuff:
*.log
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Video / Image related
*.avi
*.mp4
*.jpg
*.jpeg
*.png
*.bmp
*.wav

# Intermediate files
*.zip
*.tar
*.tar

*.json

###########################################
############ Project Specific ############
###########################################
## folders to ignore


# Default ignored files
/shelf/
/workspace.xml

#Pycharm specific
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Video / Image related
*.avi
*.mp4
*.jpg
*.jpeg
*.png
*.bmp

# Intermediate files
*.zip
*.tar
*.tar
*tar.gz

*.json

*.u8
*.pth
error
nohup
bysms/Transformer/model/
bysms/Transformer/model_en_zh
# Corpus/
nohupt

speech2text/pretrained/nano.save
runs/
results
speech2text/results/
speech2text/data_aishell/train.index
speech2text/data_aishell/dev.index
speech2text/data_aishell/test.index
speech2text/data_aishell/labels.gz
speech2text/runs
speech2text.results
speech2text/output
speech2text/data_process_archive/
speech2text/data_aishell/transcript/aishell_transcript_v0.8.txt
speech2text/pretrained/model_99.pth
speech2text/error
Corpus/
results/
